
#gridPane {
    -fx-background-color: #f0f8ff;
}
.button {
    -fx-background-color: #4682b4;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
.circle {
    -fx-fill: #add8e6;
    -fx-stroke: black;
    -fx-stroke-type: inside;
}
.label {
    -fx-text-fill: #00008b; 
    -fx-font-size: 24px;
    -fx-font-family: "Impact";
}
.text-field {
    -fx-prompt-text-fill: #4682b4; 
}
.radio-button {
    -fx-text-fill: #00008b;
}
MenuBar {
    -fx-background-color: #F0F0F0;
.menu {
    -fx-background-color: #F0F0F0;
}


.menu-item:hover {
    -fx-background-color: #DDDDDD; 
}
.menu .label {
    -fx-font-size: 14px;
    -fx-text-fill: black;
}































